<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CnouLeg"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ActivityViewProfileDetails"
            android:label="@string/activity_edit_profile_details"
            android:parentActivityName=".ActivityReader"
            android:exported="false" />
        <activity
            android:name=".ActivityNoteEditor"
            android:exported="false"
            android:label="@string/activity_note_editor"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityEditProfileDetails"
            android:exported="false"
            android:label="@string/activity_edit_profile_details"
            android:parentActivityName=".ActivityMain"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".ActivityLogin"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/activity_login"
            android:parentActivityName=".ActivityMain"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".ActivityRegistration"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/actvity_registration"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/Theme.CnouLeg"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".ActivityVideo"
            android:exported="false"
            android:label="@string/activity_video"
            android:parentActivityName=".ActivityReader"
            android:theme="@style/Theme.CnouLeg.Fullscreen" />
        <activity
            android:name=".ActivityGallery"
            android:exported="false"
            android:label="@string/activity_gallery"
            android:parentActivityName=".ActivityReader"
            android:theme="@style/Theme.CnouLeg.Fullscreen" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityMain"
            android:exported="true"
            android:theme="@style/Theme.CnouLeg.StyledNavigationBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityReader"
            android:exported="true"
            android:label="@string/activity_read"
            android:parentActivityName=".ActivityMain" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cocolorussococo.cnouleg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>